<h1>Explore Airbnb</h1>

<%= link_to "Add Listing", new_listing_path %> 

<% if signed_in? %>
	<% case current_user.role %>
	<% when 'customer' %>
		<h3>Welcome</h3>	
	<% when 'moderator' %>
		<h3>Welcome, moderator</h3>
		<h4><%= link_to 'Users:', users_path %> <%= User.count %> registered</h4>
	<% when 'superadmin' %>
		<h3>Welcome, Administrator</h3>
		<h4><%= link_to 'Users:', users_path %> <%= User.count %> registered</h4>
	<% end %>
<% else %>
	<h3>Welcome</h3>
<% end %>

<hr />

<div>
	<h2>Homes around the world</h2>
</div>

<%= page_entries_info @listings %><br/>
<%= paginate @listings %><br/>

<% @listings.each do |listing| %>
	<% if listing.images != [] %>
		<%= image_tag listing.images[0].thumb.url %><br />
	<% end %>
	<%= listing.room_type %> • <%= listing.city %><br />
	<a href="/listings/<%= listing.id %>"><%= listing.title %></a> 
	<br />
	$<%= listing.pricing %> per night<br />
	<br />
<% end %>

<%= paginate @listings %>



