<div class="container" style="margin-bottom: 7vh">

	<div class="mt-2 mb-4">
		Signed in as: <%= current_user.name %>	
	</div>

	<div style="margin-bottom: 4vh ">

		<% if signed_in? %>
			<% case current_user.role %>
			<% when 'customer' %>
				<h3>Welcome</h3>	
			<% when 'moderator' %>
				<h3>Welcome, moderator</h3>
				<h4><%= link_to 'Users:', users_path %> <%= User.count %> registered</h4>
			<% when 'superadmin' %>
				<h3>Welcome, Administrator</h3>
				<h4><%= link_to 'Users:', users_path %> <%= User.count %> registered</h4>
			<% end %>
		<% else %>
			<h3>Welcome</h3>
		<% end %>

	</div>

<!-- 	<div style="margin-bottom: 4vh">
		<h2>Explore Airbnb</h2>
	</div>  -->

	<div>
		<h2>Homes around the world</h2>
	</div>

	<%= page_entries_info @listings %><br/>
	<%= paginate @listings %><br/>

<div class="row">
	<% @listings.each do |listing| %>
		<div class="col-4" id="<%= listing.id %>"> 
			<div class="card mb-4">
				<% if listing.images != [] %>
					<%= image_tag listing.images[0].thumb.url %><br />
				<% else %>
					<img class="card-img-top" src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-0.3.5&s=6286e40d53d85d1fe9fb0f2fae05c173&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
				<% end %>
				<div class="card-body">
					<a href="/listings/<%= listing.id %>" class="card-title"><%= listing.title %></h5></a>
					<p class="card-text"><%= listing.room_type %> • <%= listing.city %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>

	<%= paginate @listings %>

</div>





