<!-- sign up page -->

<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <!-- _ means its a partial -->
      <!-- so this file connects with _form.html.erb -->
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <!-- t(".something") enables words to be published in any characters, including Chinese characters -->
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
